@import '../../../../_variable.module.scss';
.container{
    width: 45%;
    height: 550px;
    background-color: $primery;
    border-radius: 10px;
    box-shadow: 0 0 50px gray ;
    z-index: 5;
    overflow: hidden;
    h6{
        color: $error;
        margin: 5px 0;
    }
}

.contacttitle{
    background: url('../../../../../public/Pictures/ashkan-forouzani-eBwGgqSt1QA-unsplash.jpg');
    width: 100%;
    height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.titlebox{
    background-color: rgba(0, 0, 0, 0.501);
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        margin: 0;
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 85%;
}
